golang 1.20.2 # datasource=golang-version depName=golang/go
golangci-lint 1.52.2 # datasource=github-releases depName=golangci/golangci-lint
goreleaser 1.16.1 # datasource=github-releases depName=goreleaser/goreleaser
pre-commit 3.2.2 # datasource=github-releases depName=pre-commit/pre-commit
python system # use system python
shellcheck 0.9.0 # datasource=github-releases depName=koalaman/shellcheck
shfmt 3.6.0 # datasource=github-releases depName=mvdan/sh
