# asdf plugin add goreleaser https://github.com/kforsthoevel/asdf-goreleaser.git
goreleaser 0.173.2

# asdf plugin add golangci-lint https://github.com/hypnoglow/asdf-golangci-lint.git
golangci-lint 1.41.1

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
nodejs 14.17.5
